<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
<head prefix="og:http://ogp.me/ns# fb:http://ogp.me/ns/fb# btcinteract:http://ogp.me/ns/fb/btcinteract:challenge#">
<meta property="fb:app_id" content="304310869661159"/>
<meta property="og:type" content="btcinteract:challenge" />
<meta property="og:description" content="{{dc.challenge}}"/>
<meta property="og:url" content="http://challenges4change.org/day/{{day.year}}/{{day.month}}/{{date.day}}" />
<meta property="og:title" content="Daily Challenge: {{dc.theme}}" />
<meta property="og:image" content="http://btcinteract.com/{{MEDIA_URL}}/images/Logo_512x512_2.png" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>BE THE CHANGE (inter)ACT</title>

  <!-- Included CSS Files -->
  <link rel="stylesheet" href="{{MEDIA_URL}}/css/foundation.css">
  <link rel="stylesheet" href="{{MEDIA_URL}}/css/app.css">

  <!--[if lt IE 9]>
    <link rel="stylesheet" href="stylesheets/ie.css">
  <![endif]-->

  <script src="{{MEDIA_URL}}/js/modernizr.foundation.js"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<header style="background-image:url('{{MEDIA_URL}}/images/Brick_100pxl-hi.png')">

  <div class="row" id="header">
  <div class="four columns hide-for-small" style="padding-left:80px">
  	<img src="{{MEDIA_URL}}/images/BTC trans bug_120p-high.png" />
  </div>
    <div class="eight mobile-two columns pull-one hide-for-small" style="padding-top:10px">
      <img src="{{MEDIA_URL}}/images/Challenges4Change_90p-hi.png" />
    </div>
    <div class="eight mobile-four columns pull-five show-for-small" style="align:center">
      <img src="{{MEDIA_URL}}/images/Challenges4Change_45p-hi.png" />
    </div>
  </div>
</header>
 <body> 
   <div class="row">
   	<div class="one mobile-one columns push-one hide-for-small" style="padding-left:80px">
           <a href="/day/previous/{{date.year}}/{{date.month}}/{{date.day}}"><img src="{{MEDIA_URL}}/images/arrow_left.png" /></a>
        </div>
	<div class="one mobile-one columns push-one show-for-small" style="padding-left:30px">
           <a href="/day/previous/{{date.year}}/{{date.month}}/{{date.day}}"><img src="{{MEDIA_URL}}/images/arrow_left.png" /></a>
        </div>
        <div class="one mobile-two columns push-one">
		<a href="/" align="center" class="font_text redText"><h3> TODAY</h3> </a>
        </div>
        <div class="one mobile-one columns push-one" style="padding-left:30px">
           <a href="/day/next/{{date.year}}/{{date.month}}/{{date.day}}"><img src="{{MEDIA_URL}}/images/arrow_right.png" /></a>
        </div>
	<div class="three mobile-four columns push-two hide-for-small">
                <h5 class="font">{{str_date}}</h5>
        </div>
        <div class="three mobile-four columns show-for-small" style="align:center">
                <h5 class="font" style="align:center">{{str_date}}</h5>
        </div>
        <div class="five mobile-four columns push-two hide-for-small" style="padding-left:0px">
            <p><a href="javascript:getMail(); changeSubs()"  class="small alert round button shaddowButton" id="subs" ><span class="font_button"><b>Subscribe to Daily Challenge Emails</b></span></a></p>
        </div>
         <div class="five mobile-four columns push-one show-for-small" style="align:center">
            <p><a href="javascript: getMail(); changeSubs()" style="align:center" class="small alert round button shaddowButton" id="subs-s"><span class="font_button"><b>Subscribe to Daily Challenge Emails</b></span></a></p>
        </div>
   </div>
 </div>
 <script type="text/javascript">
        function changeSubs(){
        document.getElementById('subs').innerHTML="<span class='font_button'><b>Unsubscribe from Daily Challenge Emails</b></span>";
 document.getElementById('subs-s').innerHTML="<span class='font_button'><b>Unsubscribe from Daily Challenge Emails</b></span>";
    }   
    </script>
  <div class="row">
    <div class="eight columns push-four">
   
      <h3 align='center'> <span class="font"> Today's Theme: <span class="redText"> {{dc.theme}} </span></span></h3>
      <hr>
      <!-- Grid Example -->
      <div class="row">
        <div class="twelve columns">
            <p><span class="font_text">{{dc.quote}}</span></p>
        </div>
      </div>
      <div class="row">
        <div class="four mobile-two columns push-eight ">
            <p><span class="font_text">-{{dc.attribution}}</span></p>
        </div>
      </div>
     <div class="row">
     <div class="twelve columns">
            <p style="color:darkred"><span class="font_text">{{dc.challenge}}</span> </p>
     </div>  
     </div>   
      <div class="row">
        <div class="six mobile-two columns">
          <p><a href="javascript: challengeAFriend('{{dc.theme}}','{{date.year}}','{{date.month}}','{{date.day}}')" class="small alert round button shaddowButton"><span class="font_button"><b>Challenge a Friend</b></span></a></p>
        </div>
        <div class="six mobile-two columns push-four">
         <p><a href="javascript: didIt('{{date.year}}','{{date.month}}','{{date.day}}'), changeStyle()" class="small alert round button shaddowButton" id="didit"><span class="font_button"><b>Did It!</b></span></a></p>
        </div>
      </div>
    </div>
    
    <script type="text/javascript">
	function changeStyle(){
        document.getElementById('didit').innerHTML="Undo it";
	document.getElementById('didit').setAttribute("class", "small success round button");
    }	
    </script>
    
    <div class="four columns pull-eight">
	<div class="five columns">
		<a href="javascript:fbLogin()" id="login"><div class="fb-login-button" data-show-faces="false" data-width="150" data-max-rows="1"></div></a>
		<a href="javascript:fbLogout()" style="display:none" id='logout'><img src="{{MEDIA_URL}}/images/FbLog Out_bold_22px-hi.png"/></a>
	</div>
        <div class="two columns pull-six">
		<div class="fb-send" data-href="http://challenges4change.org/day/{{date.year}}/{{date.month}}/{{date.day}}"></div>
        </div>
    </div>
    <div class="four columns pull-eight" style="padding-top:15px">
        <div class="one columns push-one">
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://btcinteract.com" data-text="Today's Daily Challenge Theme: {{dc.theme}}" data-lang="en">Tweet</a>
        </div>
	<div class="three columns pull-five">
		<a href=# ><img src="{{MEDIA_URL}}/images/email_send.png" /></a>
	</div>
    </div>
   
   <div class = "four columns pull-eight">
     <div class="eight columns push two" style="padding-top:15px">

    <div class="fb-like-box" data-href="http://www.facebook.com/btcinteract" data-width="240" data-height="800" data-show-faces="true" data-border-color="darkred" data-stream="false" data-header="false"></div>
     </div>
   </div>

{% if request.facebook_message %}{{ request.facebook_message }}{% endif %} 

<div id="fb-root"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=304310869661159";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id) {
var js,fjs=d.getElementsByTagName(s)[0];
if(!d.getElementById(id)){
js=d.createElement(s);
js.id=id;
js.src="//platform.twitter.com/widgets.js";
fjs.parentNode.insertBefore(js,fjs);}
}(document,"script","twitter-wjs");</script>

  <!-- Included JS Files -->
  <script src="{{MEDIA_URL}}/js/jquery.min.js"></script>
  <script src="{{MEDIA_URL}}/js/jquery.reveal.js"></script>
  <script src="{{MEDIA_URL}}/js/jquery.orbit-1.4.0.js"></script>
  <script src="{{MEDIA_URL}}/js/jquery.customforms.js"></script>
  <script src="{{MEDIA_URL}}/js/jquery.placeholder.min.js"></script>
  <script src="{{MEDIA_URL}}/js/jquery.tooltips.js"></script>
  <script src="{{MEDIA_URL}}/js/app.js"></script>
  <script src="{{MEDIA_URL}}/js/daily_challenge.js"></script>
</body>
</html>
